<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:fragment="head">
    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/index.css}" rel="stylesheet" />
    <link th:href="@{/css/add.css}" rel="stylesheet" />


    <title th:text="'Grocery' + ${title == null ? '' : ' :: ' + title}"></title>
    <meta charset="UTF-8">
    <title>Grocery</title>
</head>
<body>

<!--Navigation Setup-->
<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top" id="topNav">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">Grocery List</a>
        </div>
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/add}">Add Recipe</a></li>
                <li><a th:href="@{/search}">Search Recipe</a></li>
            </ul>
        </div>
    </div>
</div>




</body>
</html>