<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>Index Page</p>


<!--<table class="table table-striped">-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th>ID</th>-->
<!--        <th>Category</th>-->
<!--        <th>Recipe Name</th>-->
<!--        <th>Source</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tr th:each="recipe : ${recipes}">-->
<!--        <td th:text="${recipe.id}"></td>-->
<!--        <td th:text="${recipe.category.displayName}"></td>-->
<!--        <td th:text="${recipe.name}"></td>-->
<!--        <th th:text="${recipe.source}"></th>-->
<!--    </tr>-->
<!--</table>-->
</body>
</html>